body{
  background-color:#e3fdfd;
      font-family: "Garamond", Times, serif;
}

hr{

    border-style:dotted none none;
    border-color: grey;
    border-width: 5px;
    
    width: 10%;
  }
h1
{
  width: 15%;


  color: blue;
}
h3
{
  font-style: italic;
  color: blue;
}
.i{
  border-radius: 100%;
}
.star{
  color: red;

  font-size: 20px;

}
